<style>
    /* Estilização do menu lateral */
    .sidebar {
        height: 80vh;
        width: 150px;
        position:fixed;
        top: 15%;
        left: 2%;
        background-color: #020826;
        padding-top: 20px;
        border-radius: 20px;
    }

    .sidebar .nav-link {
        color: #fff;
        padding: 15px;
        font-size: 18px;
    }

    .sidebar .nav-link:hover {
        background-color: #495057;
        color: #fff;
    }
</style>

 <!-- Menu Lateral -->
 <div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            
            <a class="nav-link" href="/">Home</a>
        </li>

        <!-- <li class="nav-item">

            <a class="nav-link" href="#novo-projeto">Novo Projeto</a>
        </li> -->

        <!-- <li class="nav-item">

            <a class="nav-link" href="#abrir-projeto">Abrir Projeto</a>
        </li> -->
        <li class="nav-item">

            <a class="nav-link" href="#text-to-speech">Text to Speech</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#create-music-background">Create Music Background</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#editSpot">Edit and Mix Spot</a>
        </li>
    </ul>
    <!-- <div id="list_audios" style="max-height: 5px;"></div> -->
</div>